body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn{
    margin-right: 30px;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
}
.btn1:hover{
    border: none;
    box-shadow: 5px 5px 40px blue;
}
.btn2:hover{
    border: none;
    box-shadow: 5px 5px 40px red;
}
.btn3:hover{
    border: none;
    box-shadow: 5px 5px 30px white;
}
#value{
    font-size: 50px;
    font-weight: bold;
    box-shadow: 5px 5px 45px yellow;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}